<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesMatch</title>
    <style>
        .myBackground {
            height: 800px;
            width: 100%;
            background-image: url("fundo2.png");
            }
    </style>
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="myBackground">
        <footer>
            <div align="center">
                <p style="font-style: italic;"><a href="mailto:admiel@bol.com.br">GamesMatch 2022</a></p>
            </div>
        </footer>
    </div>
</body>
</html>